{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Nuevo
{% endblock titulo %}

{% block contenido %}
    
    
    <title>Nuevo articulo</title>
</head>
<body>
    <h1>Nuevo artículo</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class='btn btn-success' type="submit" value="Agregar">
        <a class='btn btn-danger' href="{% url 'articulos_lista'%}">Cancelar</a>
    </form>
{% endblock contenido %}


{% block scripts %}
    
    {% comment %}
         <script src="{% static 'dist/js/pages/dashboard3.js' %}"></script>
    {% endcomment %}
       
{% endblock scripts %}
